*.o
*.d
*.aux
39_Errors.sec
A.tex
config.log
config.status
src/*.a
src/*.lib
src/autom4te.cache
src/*.exe
src/x11basic.eps
src/x11basic.svg
src/xb2c.static
src/xbasic.static
src/xbasic.framebuffer
src/fbxbasic
src/xbbc.static
src/xbvm.static
src/Makefile
src/config.h
src/xb2c.debug
src/xbasic.debug
src/xbbc.debug
src/xbvm.debug
b.b
11.c
src/doc-pak/
libx11basic.so
libx11basic.so.*
bas2x11basic
xb2c
xbasic
xbbc
xbc
xbvm
doc/manual/X11-Basic-manual.pdf
doc/manual/X11-Basic-manual.txt
doc/manual/alert1.eps
doc/manual/alert2.eps
doc/manual/alert3.eps
doc/manual/biene.eps
doc/manual/fileselect.eps
doc/manual/form1.eps
doc/manual/form2.eps
doc/manual/form3.eps
doc/manual/main.dvi
doc/manual/main.fot
doc/manual/main.idx
doc/manual/main.log
doc/manual/main.otxt
doc/manual/main.pdf
doc/manual/main.ps
doc/manual/main.ilg
doc/manual/main.ind
doc/manual/main.toc
doc/manual/menu.eps
doc/manual/nedit-x11basic.eps
doc/manual/nedit-x11basic.jpg
src/test.bas
src/t.bas
htdocs/X11-Basic-manual.pdf
doc/x11basic-de.html
src/Debian/Outputs
src/Inno-Output
doc/x11basic-raspi-de.html
doc/x11basic-raspi-de.pdf
src/X11-Basic-1.*-*-win.zip
