framebuffer.png
*.deb
AUTH
*.zip

*.debug
*.static
*.toslib
*.exe
*.ttp
*.prg
*.a
*.lib
*.md5.txt

test*.bas

bas2x11basic
xb2c
xbasic
xbbc
xbc
xbvm
fbxbasic
xbasic.sdl
myzip
myunzip
rsc2gui

libx11basic.so
libx11basic.so.*

x11basic.eps
x11basic.svg
Makefile
config.h
X11-Basic.iss

autom4te.cache
doc-pak/
obsolete/
WINDOWS/tmp/
WINDOWS/lib/LICENSE.freetype.txt
WINDOWS/lib/LICENSE.zlib.txt
WINDOWS/lib/libfreetype-6.dll
WINDOWS/lib/zlib1.dll
WINDOWS/lib/SDL_ttf.dll
WINDOWS/lib/README-SDL_gfx.txt

WINDOWS/lib/libSDL_gfx.a

WINDOWS/lib/LICENSE-SDL_ttf.txt
WINDOWS/lib/README-SDL.txt
WINDOWS/lib/SDL.dll

WINDOWS/contrib/SDL_gfx-2.0.26.tar.gz
WINDOWS/contrib/SDL_ttf-2.0.11-win32.zip
WINDOWS/contrib/SDL-1.2.15-win32.zip

docker/*.pdf
docker/*.exe
docker/*.deb
docker/xbasic.sdl
dockerimage-*

Inno-Output
Debian/Outputs

